.container{
    font-family: monospace;
    max-width: 300px;
    margin: auto;
    background-color: rgb(77, 71, 71);
    padding: 20px;
    border-radius: 10px;
    opacity: 98%;
    padding-left: 30px;
    padding-right: 30px;
}
input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}

#logo{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("/imagens/599.jpg");
    background-size: cover;
}
img, p{
    display: inline-block;
}
img{
    width: 24px;
}